name: obs-node

on:
  push:
    tags:
      - '*'

env:
  GITHUB_USER: Mengli619
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: bash scripts/build.sh all
        shell: bash

      - name: Upload
        run: npm run upload
        shell: bash